@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*display: flex;
    flex-direction: column;*/
}
/*main{
    flex: 1;
}*/

.container {
    background-color: #222831;
}
/*******************  NAVBAR **********************/
.navbar{
    position: fixed;
    top: 0;
}
nav {
    background: #17191d;
    height: 80px;
    width: 100%;
}
nav ul {
    float: right;
    margin-right: 30px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
label.logo-style {
    font-size: 20px;
    color: #00ADB5;
    font-weight: 700;
    line-height: 80px;
    padding: 0 30px;
    size-adjust: content;
}
.logo_div{
    width: fit-content;
}
/*.ulspec{
    align-items: center;
}*/
.sndnavlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    width: 100%;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 30px;
}
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
}

.search-bar input[type="text"] {
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.search-bar button[type="submit"] {
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    background-color: #00ADB5;
    color: white;
    margin-left: 5px;
}
nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 4px 3px;
    border-radius: 5px;
}
nav a.active, nav a:hover {
    background: #00ADB5;
    transition: .5s;
}
.logo:hover{
    background: #17191d;
    transition: .5s;
}
/*main a.active, main a:hover {
    background: #00ADB5;
    transition: .5s;
}*/
.check-btn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/******************* NEWS PAGE ****************/
.newsopp{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
    padding: 30px 20px;
    align-items: center;
    background: #393E46;
}
.the_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-right: 10px;
    width: 50%;
}
.newsimg{
    width: 430px;
    height: 250px;
    object-fit: fill;
}
.imgdsc{
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
    padding: 2%;
}
.newsopp h3{
    color: #EEEEEE;
}
.newsopp h2{
    color: #EEEEEE;
    margin-top: 10px;
}
.purenews h2{
    color: #EEEEEE;
    margin-top: 10px;
}
.newsopp p{
    color: #EEEEEE;
    margin-top: 10px;
}
.purenews p{
    color: #EEEEEE;
    margin-top: 10px;
}
.newsopp a{
    color: #00ADB5;
    margin-top: 10px;
}
.purenews a{
    color: #00ADB5;
    margin-top: 10px;
}

.newsnotes h2{
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 12px;
    color: #EEEEEE;
}
.newsnotes h1{
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 12px;
    color: #EEEEEE;
}
.newsnotes p{
    margin-left: 5.5%;
    margin-right: 1%;
    color: /*#9c9595;*/ #fff;
    margin-bottom: 40px;
    font-size: 21px;
}
.purenews{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.newscard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 15px;
    background: #393E46;
}
.descnewscard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px;
}
.newscard img{
    width: 200px;
    height: 300px;
}
.the_img_news{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
/******************* NOTE PAGE ****************/
.newsnote{
    display: flex;
    flex-direction: column;
}
.newsnote h2{
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 6.5px;
    color: #EEEEEE;
}
.newsnote h1{
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 1%;
    margin-bottom: 6.5px;
    color: #EEEEEE;
}
.newsnote p{
    margin-left: 5.5%;
    margin-right: 1%;
    color: /*#9c9595;*/ #fff;
}
.trnewsection {
    /*text-align: center;*/
    width: 100%;
}
.newsection {
    /*text-align: center;*/
    width: 90%;
    display: inline-flex;
    justify-content: space-around;
    margin: 20px 0;
    padding: 10px 0;
    /*border: 3px solid #EEEEEE;*/
}

#newspsc{
    margin-left: 120px;
    padding: 0;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.backbtn{
    text-decoration: none;
    background-color: #00ADB5;
    font-size: 16px; 
    /*height: 6.5%;
    width: 15%;
    display: inline-block;*/
    width: 115px;
    padding: 6px 12px;
    font-weight: 550;
    border-radius: 10px;
    border: none;
    text-align: center;
}

.selection {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.selection ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: auto;
    margin: 0;
    padding: 0;
    
}
.selection ul, .filter-group {
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection ul li {
    margin-right: 10px;
}

.selection select {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 16px;
    background: #393E46;
    color: rgb(209, 209, 209);
    height: 28px;
    width: 180px;
    border-radius: 5px;
    border: none;
    text-align: center;
    margin-bottom: 10px;
    
}

.selection select:hover{
    background: #444a53;
}
.selection .filter-group {
    /*display: inline-flex;
    justify-content: center;
    align-items: center;
    */margin-bottom: 7px;
    max-width: 120px;
    
}
#filter {
    background-color: #00ADB5;
    font-size: 16px; 
    /*height: 6.5%;
    width: 15%;
    display: inline-block;*/
    width: 100px;
    padding: 6px 12px;
    font-weight: 550;
    border-radius: 10px;
    border: none;
    text-align: center;
    /*margin-left: 5%;
    margin-bottom: 2%;*/
}

.selection input[type="text"] {
    background: #fff;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    width: 190px;
}
input[type="text"]::placeholder {
    color: #646464;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
}
.trnewsection h2{
    margin-left: 5%;
    color: #EEEEEE;
}
.trnewsection h1{
    text-align: center;
    color: #EEEEEE;
}

.trnewsection p{
    margin-top: 10px;
    margin-left: 5.5%;
    margin-right: 1%;
    color: /*#9c9595;*/ #fff;
    margin-bottom: 30px;
}

.newsection .imgcontainer {
    text-align: center;
}

.newsection .imgcontainer p{
    margin-top: 10px;
    color: /*#9c9595;*/ #fff;
    margin: auto;
    font-size: 18px;
    bottom: 0;
    right: 0;
    left: 0;
}

.newsection h3{
    font-size: 21px;
    margin-top: 10px;
    color: #EEEEEE;
    font-weight: 500;
}
.newsp{
    font-size: 19.5px;
    font: bold;
    font-weight: 550;
    margin-top: 10px;
    margin-left: 5.5%;
    margin-right: 1%;
    color: /*#9c9595;*/ #00ADB5;
    margin-bottom: 30px;
}
.imgcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #313a48;
    height: 435px;
    width: 200px;
    margin: 2% 0;
    border-radius: 10px;
}
.descontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}
.newsection img{
    width: 200px;
    height: 300px;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 .newsection .subsec{
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 30px;
}
.newsdet{
    display: none;
}
.wlbtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    /*bottom: 0;
    right: 0;
    left: 0;
    margin-top: auto;*/
    
}
.watchtrbtn{
    display: flex;
    align-items: self-end ;
    justify-content: center;
    width: 170px;
    height: 35px;
    padding: 7px 8px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    background-color: rgba(0, 173, 181, 0.3);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.date{
    display: flex;
    align-items: self-end;
    justify-content: center;
    width: 200px;
    height: fit-content;
    padding: 7px 8px;
    border: 1px solid #020202;
    border-radius: 10px;
    color: #2a2828;
    background-color: rgba(0, 173, 181, 0.3);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/*.newsection .newstitle{
    margin-top: 10px;
    margin-left: 18px;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    color: #EEEEEE;
    display: inline-block;
}*/
/**************** NOTE TOP MOVIES *****************/
.note h2{
    margin-top: 100px;
    margin-left: 5%;
    color: #EEEEEE;
}

.note p{
    margin-left: 5.5%;
    margin-right: 1%;
    color: /*#9c9595;*/ #fff;
}
/*.main {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;
}*/
.apology{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.apology p{
    color: #aeadad;
    font-size: 21px;
    text-align: center;
}
.apology img{
    width: 300px;
    height: auto;
    margin: 4% 0;
    object-fit: contain;
}
.section {
    /*text-align: center;*/
    width: 100%;
}
.section ul{
    margin: 2% 6%;
    display: flex;
    align-items: flex-start;
}
.section ul li{
    display: inline-block;
    vertical-align: top;
}
.section .title{
    margin-top: 10px;
    margin-left: 18px;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    color: #EEEEEE;
    display: inline-block;
}
.section .desc{
    /*display: inline-block;*/
    margin: 15px 0;
    margin-left: 18px;
    /*vertical-align: top;*/
    color: #aeadad;
}
.year{
    display: inline-block;
    font-weight: bold;
    margin: 5px 0;
    margin-left: 18px;
    /*vertical-align: top;*/
    color: #eddfdf;
}
.details{
    display: block;
    margin: 15px 0;
    margin-left: 18px;
    /*vertical-align: top;*/
    color: #00ADB5;
}
.section img{
    width: 200px;
    height: auto;
    margin: 2% 6%;
    margin-right: 10px;
    object-fit: contain;
    /*vertical-align: top;*/
}
/******************* FOOTER ********************/
footer{
    background-color: #17191d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 40px 0;
    margin-top : 23%
    /*bottom: 0;
    left: 0;
    right: 0;
    position: fixed;*/
}
.fcontainer{
    max-width: 1170px;
    margin: auto;
}
footer ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #EEEEEE;
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 35px;
    position: relative;
    z-index: 0;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #393E46;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
}
.footer-col ul li:not(:last-child){
    margin-bottom: 15px;
}
.footer-col ul li a{
    font-size: 17px;
    text-transform: capitalize;
    color: #17191d;
    text-decoration: none;
    font-weight: 300;
    color: #aeadad;
    display: block;
    transition: all 0.3s ease;
}
/*footer a.active, footer a:hover {
    border-radius: 5px;
    background: #393E46;
    transition: .5s;
}*/
.footer-col ul li a:hover{
    color: #EEEEEE;
    padding-left: 10px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #EEEEEE;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #222831;
    background-color: #EEEEEE;
}

/*************** About Us ***************/
.abtheader{
    color: #fff;
    text-align: center;
    margin-top: 105px;
    margin-bottom: 15px;
}

.abtus {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/736/245/small/movie-theater-set-of-elements-doodle-with-a-line-for-festivals-and-holidays-illustration-in-the-style-of-a-doodle-isolated-on-a-black-background-vector.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1000;
}

.team{
    color: #fff;
    margin: 20px;
    text-align: center;
    font-size: 23px;
}

.names{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.names p{
    color: #00ADB5;
    font-size: 21px;
    margin-bottom: 30px;
}
.ftrs p{
    color: #abcbd4;
    font-size: 17px;
    font-weight: lighter;
}
.recs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #EEEEEE;
    padding: 20px 0;
    margin: 20px;
    width: 90%;
}
.recs p{
    font-size: 20px;
    font-weight: lighter;
}
.reviews{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.reviews p{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
}
  

/************************ Dialog Box ***********************/
.dialog-box {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: opacity 3s ease-in-out;
}

.dialog-box button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialog-box button:hover {
background-color: #006699;
}

.dialog-box h3{
    font-size: 21px;
    margin: 15px;
    color: #222831;
    margin-top: 0;
}
.dialog-box p{
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 5px 5px 0;
    text-align: center;
    margin-bottom: 0;
}
@media(max-width: 707px){
    .newsopp{
        display: flex;
        justify-content: center;
        margin: 5% 0;
        padding: 30px 20px;
        align-items: center;
        background: none;
        flex-direction: column;
    }
    .newsopp p{
        text-align: center;
    }
    .imgdsc{
        display: flex;
        width: 80%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-left: 2%;
        padding: 2%;
    }
}
@media(max-width: 1155px){
.selection {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    }
    .selection ul {
        margin-left: 35px;
    }
    #filter{
        margin-top: 15px;
    }
}
@media(max-width: 600px){
    .selection ul li select{
        margin-top: 5px;
    }
    .selection ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .selection #filter{
        text-align: center;
    }
    #directorname{
        margin-top: 10px;
    }
    .descontainer{
        border: 1px solid #646464;
        padding-bottom: 20px;
        border-radius: 10px;
        width: auto;
        align-items: center;
    }
    #descont{
        border: 1px solid #646464;
        padding-bottom: 20px;
        border-radius: 10px;
        width: auto;
        align-items: center;
        width: 300px;
    }
    .imgcontainer h3{
        color: #9df5fa !important;
    }
    .imgcontainer img{
        display: none;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
    }
    .imgcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        background: none;
        height: 435px;
        width: 200px;
        margin: 2% 0;
        border-radius: 10px;
    }
    .newsection .subsec {
        display: inline-flex;
        justify-content: center;
        align-items: flex-end;
        padding: 0;
    }
    .newsection .imgcontainer {
        text-align: center;
    }
}
@media(max-width: 816px){
    .selection #filter{
        margin-top: 10px;
    }
    
}
@media(max-width: 467px){
    .selection #filter{
        margin-top: 10px;
    }
}
@media(max-width: 467px){
    #actorname{
        margin-top: 10px;
    }
}
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
        margin-right: auto;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
    .newscard{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: auto;
        margin: 15px;
        background: none !important;
    }
    .descnewscard{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5px;
    }
    .descnewscard p{
        text-align: center;
    }
    .the_img_news{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

/********************* SEARCH DBOX ***********************/
.search-res .imgcontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background: #1b1d21;
    height: 300px;
    width: 500px;
    margin-right: 10px;
    margin: 2% 6%;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
}
.search-res img{
    left: 0;
    width: 200px;
    height: 298px;
    object-fit: fill;
    border-top-right-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 10px;
}
.search-res h2{
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: #00ADB5;
    font-weight: 500;
    text-align: center;
}
.search-res #close-search-res{
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}
.search-newsdet{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 30px 0;
    flex-direction: column;
    height: 90%;
}
.search-res {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #393E46;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(51, 49, 49, 0.3);
    transition: opacity 3s ease-in-out;
    width: 40%;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 3px solid #000000;
}
.search-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #17191d;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 100%;
}
.search-res button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-res button:hover {
    background-color: #006699;
}
.search-res p{
    margin: 0 5px 5px 0;
    text-align: center;
    margin-bottom: 0;
    color: #ffffff;
}
.search-header h1{
    color: #ffffff;
    text-align: center;
}
.search-subsec{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media (max-width:952px) {
    .descontainer .hcolor{
        color: #00ADB5 !important;
    }
    #newspsc{
        margin: 0;
        margin-left: 0 !important;
        padding: 0;
    }
    .ulspec{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }
    .ulspecbtn{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
    }
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .descontainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        padding: 5px;
    }
    .imgcontainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 550px;
        height: 350px;
        margin-right: 10px;
        margin: 2% 6%;
        justify-content: flex-start;
        border-radius: 10px;
    }
    .newsdet{
        display: flex;
        align-items: flex-end;
        width: 300px;
        margin: 15px 0;
        flex-direction: column;
        height: 90%;
    }
    .newsection img{
        left: 0;
        width: auto;
        height: 100%;
        object-fit: contain;
        border-top-right-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .newsection h3{
        margin-left: 10px;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-top: 10px;
        color: #EEEEEE;
        font-weight: 500;
    }
    .newsection {
        /*text-align: center;*/
        width: 100%;
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        border: none;
    }
    .selection ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        margin: 0;
        padding: 0;
    }
    .selection ul li{
        margin: 15px 0;
    }
    .purenews{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .newscard{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 15px;
        background: #393E46;
    }
}
@media (max-width:858px) {
    .footer-col h4{
        font-size: 18px;
        color: #EEEEEE;
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 35px;
        position: static;
        z-index: 0;
    }
    .sndnavlinks{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .check-btn {
        display: block;
        padding-left: 50px;
    }
    .nav-links {
        background: #393E46;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        transition: all .5s;
        text-align: center;
        z-index: 9999;
    }
    .search-bar{
        margin-top: 25px;
        align-items: center;
        display: flex;
        width: 100%;
    }
    nav ul li {
        display: block;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav a.active,nav a:hover {
        color: #00ADB5;
        background: none;
    }
    /*#check:checked ~ ul{
        left: 0;
    }*/
    #check:checked ~ .nav-wrapper .nav-links {
        left: 0;
    }
    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /*height: 100vh;*/
    }
    .section {
        text-align: center;
        width: 100%;
    }
    .section ul{
        margin: 2% 6%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .section ul li{
        display: block;
    }
    .section ul li p{
        vertical-align: middle;
        margin: auto;
    }
    .section .desc{
        display: inline-block;
        margin-left: 18px;
        margin-bottom: 10px;
        vertical-align: top;
        color: #aeadad;
    }
    .details{
        display: inline-block;
        margin-top: 5px;
        margin-left: 18px;
        vertical-align: top;
        color: #00ADB5;
    }
    .year{
        display: inline-block;
        font-weight: bold;
        
        margin-left: 18px;
        vertical-align: top;
        color: #00ADB5;
    }
}

@media (min-width: 858px) {
    .nav-links {
      width: auto;
    }
    .search-bar{
        width: auto;
    }
}

/*.backdrop{
    display: none;
    position: fixed;
    background-color: rgba(48, 45, 45, 0.002);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 9998;
}
.modal{
    display: none;
    position: fixed;
    background: white;
    padding: 10px;
    width: 80%;
    height: 75%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    border-radius: 6px;
}
.modal h1{margin: 0;}
.modal button{
    background: #00ADB5;
    color: #222831;
    border: 1px solid #393E46;
    font: inherit;
    font-size: 16px;
    cursor: pointer;
}
.modal button:hover, .modal button:active{
    background: #EEEEEE;
}
.modal button:focus{
    outline: none;
}
*/